exportPattern("^[[:alpha:]]+")
importFrom(rcdd,makeH,makeV,scdd)
importFrom(grDevices, gray)
importFrom(graphics, lines, plot, points, polygon, text,title,abline)
importFrom(stats, quantile,rexp)
importFrom(utils, str)
importFrom(abind,abind)
importFrom(geometry,delaunayn)
importFrom(SimplicialCubature,SimplexSurfaceArea)
import(rgl)
S3method( plot, mvmesh )
S3method( print, mvmesh ) 